* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Futura;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  padding: 4rem 2rem;
}

.example {
  border: 4px solid black;
}
.example__header {
  border-bottom: 4px solid black;
  padding: 2rem 1rem;
}
.example__content {
  padding: 2rem 1rem;
}
.example__content > * + * {
  margin-top: 1rem;
}

.example__section {
}

.example__stack {
  display: flex;
}
.example__stack > * + * {
  margin-left: 1rem;
}
